<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eeclassLogin</title>
</head>
<body>
    <h1>eeclassLogin</h1>
    <p>your account and password will not be saved</p>
    <p>after logining in, a calendar will be generated for you</p>
    <form method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <br>
        <button type="submit">login</button>
    </form>
</body>
</html>
