<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Posts</title>
    <link rel="stylesheet" href="displayPage.css">
    <link rel="stylesheet" href="./../components/navbar.css">
</head>
<body>
    <div class="page-content">
        <h1>All Blog Posts</h1>
        <input type="text" id="search-bar" placeholder="Search posts..." onkeyup="filterPosts()">
        <div id="posts-container"></div>
    </div>
    <script src="displayPage.js"></script>
    <script src="./../components/navbar.js"></script>
</body>
</html>

