<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Linux Terminal Blog Entrance</title>
    <link rel="stylesheet" href="entrancePage.css">
</head>
<body>
    <div class="terminal">
        <pre>
            
            _________            .___       _________      .__                          
            \_   ___ \  ____   __| _/____  /   _____/_____ |  |__   ___________   ____  
            /    \  \/ /  _ \ / __ |/ __ \ \_____  \\____ \|  |  \_/ __ \_  __ \_/ __ \ 
            \     \___(  <_> ) /_/ \  ___/ /        \  |_> >   Y  \  ___/|  | \/\  ___/ 
             \______  /\____/\____ |\___  >_______  /   __/|___|  /\___  >__|    \___  >
                    \/            \/    \/        \/|__|        \/     \/            \/ 
                                                                                        
                                                                                        
                                                                                        
                                                                                        
                                                                                        
                                                                                        
            </pre>
        
        <pre id="terminal-content">Welcome to CodeSphere, feel free to discuss anything here
enter "new" to create an account
enter "guest" to browse the website
enter your account and password to log in
</pre>
        <div class="input-line">
            <span id="prompt">CodeSphere@entrance:~$ </span>
            <input type="text" id="terminal-input" autofocus onkeypress="handleInput(event)">
        </div>
    </div>
    <script src="entrancePage.js"></script>
</body>
</html>
