body {
    font-family: Arial, sans-serif;
    margin: 0px;
}

.page-content {
    margin: 40px;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input, textarea, button {
    margin: 5px 0;
    width: 100%;
    padding: 8px;
}

#posts {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding-top: 10px;
}

.post {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.post-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.post-content {
    margin-top: 10px;
}



/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown Content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content button {
    background-color: white;
    border: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 100%;
}

.dropdown-content button:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on click */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
}
